.move-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .move-preview {
    background-color: $move-preview-light-bg;
    .main-app.bp4-dark & { background-color: $move-preview-dark-bg; }

    border-radius: 5px;
    box-shadow: 0 0 0 1px #4C90F0;
    padding: 5px 10px;
  }
}