.move-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .move-preview {
    background-color: #8ABBFF;
    .main-app.bp4-dark & { background-color: #404854; }

    border-radius: 5px;
    box-shadow: 0 0 0 1px #4C90F0;
    padding: 5px 10px;
  }
}