.text-center {
    text-align: center;
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }
    &.flex-end {
        justify-content: flex-end;
    }
}

.gap-5 {
    gap: 5px;
}
.gap-10 {
    gap: 10px;
}
.gap-15 {
    gap: 15px;
}

.flex-grow {
    flex-grow: 1;
}

.m-auto {
    margin: auto;
}

// Width

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

// Height

.h-100 {
    height: 100%;
}

.h-75 {
    height: 75%;
}

.h-50 {
    height: 50%;
}

.h-25 {
    height: 25%;
}

.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}


.img-size {
    &-56 {
        width: 56px;
        height: auto;
    }

    &-96 {
        width: 96px;
        height: auto;
    }

    &-256 {
        width: 256px;
        height: auto;
    }

    &-512 {
        width: 512px;
        height: auto;
    }
}