// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";

// Components
@import "components/contact-preview";
@import "components/transfer-fund";
@import "components/move-list";

// Views
@import "views/home-page";
@import "views/signup-page";

// Lib
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/popover2/lib/css/blueprint-popover2.css';


.main-view {
  margin: 25px 5px;
}

.custom-chart-tooltip {
  background-color: whitesmoke;
  padding: 5px 10px;
  border: 1px solid gainsboro;
  border-radius: 3px;
}